html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Helvetica Neue", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-weight: normal;
  background-color: #015b6f;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  color: #111;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 275px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

h2 {
  color: #111;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 32px;
  margin: 0 0 72px;
  text-align: center;
}

p {
  color: #685206;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 24px;
  text-align: justify;
  text-justify: inter-word;
}

header {
  height: 60px;
  background-color: black;
  display: flex;
}

.headerText {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 45px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  color: snow;

  display: flex;
  align-items: flex-end;
  padding-left: 10px;
  padding-bottom: 5px;
}

#refresh {
  user-select: none;
  cursor: pointer;
  margin-left: auto;
}

button {
  width: fit-content;
  height: fit-content;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 500ms;
}

button:hover {
  transform: scale(105%, 105%);
}

button:active {
  transform: scale(104%, 104%);
  transition-duration: 1ms;
}

#booksContainer {
  width: 70%;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  justify-items: center;
  background-color: #4ea8bc;
}

.book {
  margin: 5px;
  background-color: grey;
  color: snow;
  width: 100px;
  height: 150px;
  border: 1px solid grey;
  box-shadow: 0 0 1px 2px hsl(0, 0%, 65%);
}

#newBook {
  user-select: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #015b6f;
  margin: 10% auto;
  width: 500px;
  height: fit-content;
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: openModal;
  animation-duration: 750ms;
  border-radius: 5px;
}

@keyframes openModal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-header {
  background-color: black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px;
}

.closeButton {
  color: #ccc;
  float: right;
  font-size: 30px;
}

.closeButton:hover,
.closeButton:focus {
  text-decoration: none;
  cursor: pointer;
}

#modal-header-text {
  color: snow;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 32px;
  text-align: center;
  user-select: none;
}

.modal-body {
  padding: 20px;
}

.modal-body label {
  color: snow;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  user-select: none;
}

.modal-body input {
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}

#newBookForm {
  display: grid;
  justify-items: center;
  align-items: center;
}

.radioContainer {
  display: flex;
  justify-content: center;
}

#confirm {
  width: fit-content;
  cursor: pointer;
}

#confirm {
  width: fit-content;
  cursor: pointer;
}

#confirm:hover {
  transform: scale(105%, 105%);
}

#confirm:active {
  transform: scale(103%, 103%);
  transition-duration: 1ms;
}
