body,
input,
button {
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #222;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  /* border: 1px black solid; */
  width: auto;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

#navbar-container {
  /* border: 5px solid black; */
  display: flex;
  padding: 6px;
  justify-content: flex-end;
  align-items: center;
  height: auto;
  min-height: 50px;
  max-height: 100px;
}

#navbar {
  display: inline-block;
}

.navlinks {
  color: rgba(0, 0, 0, 0.87);
}

.nav-others {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
}

#profile {
  border: 1px solid rgba(0, 0, 0, 0.87);
  background-color: rgb(185, 210, 255);
  border-radius: 50%;
}

#logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 92px;
  max-height: 290px;
  height: calc(100% - 560px);
  box-sizing: border-box;
}

#logo {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  object-position: center bottom;
  width: auto;
}

#search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 92px;
  max-height: 290px;
  height: calc(100% - 560px);
}

#searchbar {
  border: 1px solid silver;
  border-radius: 25px;
  padding: 6px;
  position: relative;
  width: 50%;
}

#searchicon {
  position: relative;
  float: left;
}

#searchbarfield {
  outline: none;
  padding: 1px;
  border-style: none;
  position: relative;
  width: 89%;
  height: 26px;
}

#voiceicon {
  position: relative;
  float: right;
  bottom: 1px;
}

.voicelink {
  color: black;
  text-decoration: none;
}

#search-buttons {
  padding: 18px;
  position: relative;
}

.submitbutton {
  background-color: rgb(239, 239, 239);
  border-color: rgb(118, 118, 118);
  margin: 11px 4px;
  padding: 0 16px;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
}

#languages-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto;
}

#languages {
  position: relative;
}

.language {
  text-decoration: none;
}
