body,
input,
button {
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #222;
}

a {
  text-decoration: none;
}

#navbar-container {
  border: 5px solid black;
  display: flex;
  align-items: center;
  padding: 6px;
}

#navbar {
  display: inline-block;
  flex-grow: 1;
}

#logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 92px;
  max-height: 290px;
  height: calc(100% - 560px);
}

#logo {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  object-position: center bottom;
  width: auto;
}

#search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 92px;
  max-height: 290px;
  height: calc(100% - 560px);
}

#searchbar {
  border: 1px solid silver;
  border-radius: 25px;
  padding: 6px;
  position: relative;
  width: 50%;
}

#searchicon {
  position: relative;
  float: left;
}

#searchbarfield {
  outline: none;
  padding: 1px;
  border-style: none;
  position: relative;
  width: 89%;
  height: 26px;
}

#voiceicon {
  position: relative;
  float: right;
  bottom: 1px;
}

.voicelink {
  color: black;
}

#search-buttons {
  padding: 18px;
  position: relative;
}

#languages-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto;
}

#languages {
  position: relative;
}
